.bodyMain {
	background:url(@/static/image/login.png) no-repeat;
	background-size: 100%;
	background-position: center 100rpx;
	flex-direction: column;
	.centent {
		width: 100%;
		padding: 0 50rpx;
		.title {
			color: $pink;
			font-size: 36rpx;
			font-family: PoppinsBold;
			&.second {
				font-size: 46rpx;
				margin-bottom: 30rpx;
			}
		}
		.form {
			/deep/ .u-form-item {
				padding: 10rpx 0;
				&:nth-child(2) {
					margin-top: 20rpx;
				}
				&::after {
					border-color: $pink;
				}
				.u-form-item--left__content__label {
					color: $pink;
					font-size: 30rpx;
					font-family: PoppinsBold;
				}
				.u-form-item--right {
					border-radius: 10rpx;
					padding-right: 20rpx;
					.u-input__input, .input {
						font-size: 30rpx;
						font-family: PingFangSCBold;
						color: $pink;
					}
					.u-icon__icon {
						color: $pink !important;
					}
				}
				.u-form-item__message {
					color: $pink;
				}
			}
		}
		.loginInfo {
			.footer {
				margin: 30rpx 0;
				.circle {
					width: 30rpx;
					height: 30rpx;
					flex: 0 0 30rpx;
					margin-right: 15rpx;
					border: 2rpx solid $pink;
					border-radius: 30rpx;
					padding: 0 0 5rpx 10rpx;
				}
				.circleInfo {
					font-size: 24rpx;
					color: $pink;
				}
			}
			.Forget {
				font-size: 24rpx;
				color: $pink;
			}
		}

		.loginFoot {
			margin-top: 30rpx;
			.login {
				background-color: #b94d9b;
				color: #fff;
				height: 80rpx;
				width: 300rpx;
				margin-left: 0;
			}
			.regBtn {
				margin: 30rpx 0;
				padding-bottom: constant(safe-area-inset-bottom);
				padding-bottom: env(safe-area-inset-bottom);
				&.isAndroid {
					padding-bottom: 30rpx;
				}
				text {
					margin-top: 50rpx;
					font-size: 24rpx;
					color: $pink;
					font-family: PingFangSCMedium;
					&.active {
						color: $pink;
						font-family: PoppinsBold;
					}
				}
			}
		}
	}
}
